<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>snova-gae(Java) V%s admin</title>
  </head>
  <body>
    <table width="800" border="0" align="center">
            <tr><td align="center">
                <b><h1>root password:%s</h1></b>
            </td></tr>
             <tr><td align="center">
                <a href="%s">sign out</a>
            </td></tr>
    </table>
  </body>
</html>