<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>snova-gae(Java) %s admin</title>
  </head>
  
   <body>
    <table width="800" border="0" align="center">
            <tr><td align="center">
                <p>Hello, %s! You are not the admin of this application, please 
<a href="%s">sign out</a> first, then login again.</p>
            </td></tr>
    </table>
    
  </body>
</html>
