<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>snova-gae(Java) %s</title>
  </head>

  <body>
    <table width="800" border="0" align="center">
            <tr><td align="center">
                <b><h1>snova-gae(Java) %s server is running!</h1></b>
            </td></tr>
            <tr><td align="center">
                <a href="/admin">admin</a>
            </td></tr>
    </table>
  </body>
</html>